*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}
.boxcenter{
    width: 70%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 30px;
}
.mr{
    margin-right: 2%;
}
.demo{
    background-color: antiquewhite;
    min-height: 100px;
}
.header{
    background-color: aquamarine;
    border: 1px green solid;
    color: red;
    border-radius: 5px;
}
.header h1{
    margin: 20px;
}
.menu{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.boxtrai{
    float: left;
    width: 74%;
}
.boxphai{
    float: left;
    width: 24%;
}
.footer {
    background-color: aquamarine;
    border: 1px green solid;
    font-size: 0.8vw;
    color: red;
    border-radius: 5px;
    padding: 20px;
}
.boxtitle {
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
}
.boxcontent{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
}
.boxcontent2{
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    /* border-bottom: 1px #CCC solid; */
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    min-height: 200px;
}
.boxfooter{
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px #CCC solid;
}
.banner {
    min-height: 300px;
    text-align: center;
}
.banner img {
    height: 300px;
    width: 700px;
}
.boxsanpham {
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px black solid;
    border-radius: 5px;
}
.boxsanpham .img {
    min-height: 200px;
    text-align: center;
}
.img {
    /* width: 60%; */
    height: 20px;
    padding-top: 10px;
}